/* SidebarScreen.css */
.sidebar-container {
  background-color: #f8f9fa;
  color: #212529;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar-menu-item {
  padding: 6px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-menu-item svg {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-menu-item.active {
  background-color: #dee2e6;
}

/* .submenu-container {
  display: none;
} */

.sidebar-menu-item:hover .submenu-container,
.sidebar-menu-item.active .submenu-container {
  display: block;
}

 .submenu-item {
  padding: 10px 30px;
} 

.submenu-container {
  display: none;
  position: absolute;
  left: 0;
}

.even-row {
  background-color: #f5f5f5;
}

.odd-row {
  background-color: white;
}

.sidebar-menu-items{
  margin-left: 12px;
}